.vs/
.sass-cache/
.tscache/
node_modules/
csx/
rcf/
Backup/
lib/packages/
obj/
bin/

/artifacts/

build/tools/*
!build/tools/packages.config
!build/tools/nuget.config
!build/tools/Modules/
build/tools/Modules/*
!build/tools/Modules/packages.config

.env
.baseDir.ts
.userprefs
gulp-tsc-tmp*
Resource.Designer.cs
project.lock.json

**/scriptcs_packages/
src/*-uwp/*.targets

*.tmp.txt
*.userprefs
*.log
*.sublime-project
*.sublime-workspace
*.sass-cache
*.suo
*.user
*.nupkg
*.bak


/build/

/Directory.Build.props
