<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <config>
      <add key="repositorypath" value="./lib/packages" />
   </config>
   <apikeys>
   </apikeys>
   <packageSources>
      <add key="NuGet official package source" value="https://www.nuget.org" />
   </packageSources>
</configuration>