<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <config>
      <add key="repositorypath" value="./lib/packages" />
   </config>
   <apikeys>
   </apikeys>
      <packageSources>
      <add key="nexus designs" value="https://nexussays.pkgs.visualstudio.com/_packaging/primary/nuget/v3/index.json" />
      <add key="nuget v2" value="https://nuget.org/api/v2/" />
   </packageSources>
</configuration>